a {
  font-size: 18pt;
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
  text-decoration: underline;
}
div {
  color: red;
}
/* text-decoration: none; - tekst nie posiada dodatkowego wyglądu np. podkreślenia */
/* */
/* Łukasz Kasprowicz 3G1 */
